<!DOCTYPE html>
<html>
    <head>
        <title>Error page</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <h1>{{errmessage}}</h1>
        </div>
        {{>footer}}
    </body>
</html>